/*
 * Port de Secure Custom Fields (GPLv2).
 * Original: WordPress.org / Advanced Custom Fields.
 */

/*----------------------------------------------------------------------------
 *  Listas horizontales y en bloque
 *--------------------------------------------------------------------------*/

.acf-hl {
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
	position: relative;

	& > li {
		float: left;
		display: block;
		margin: 0;
		padding: 0;
	}
}

.acf-bl {
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
	position: relative;

	& > li {
		display: block;
		margin: 0;
		padding: 0;
	}
}

.acf-hl::before,
.acf-hl::after,
.acf-bl::before,
.acf-bl::after {
	content: "";
	display: block;
	line-height: 0;
}

.acf-hl::after,
.acf-bl::after {
	clear: both;
}
